.valve {
	position: relative;
	height: 100%;
	width: 100%;
	border-radius: 10rem;
	background-color: #c4eabdd6;
	box-shadow: 0 0 0 4px white, 0 0 0 7px #c4eabdd6;
}

.indicator {
	position: absolute;
	left: 1.5rem;
	top: 40%;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background-color: red;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px,
		rgba(255, 0, 0, 0.5) 0 2px 12px;
}

.indicator.on {
	background-color: #abff00;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px,
		#89ff00 0 2px 12px;
}

.indicator.disabled {
	background-color: #ddd;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px,
		#6b6d6a 0 2px 12px;
}

.name {
	position: absolute;
	left: 6rem;
	top: 40%;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	width: 40%;
	font-family: "Open Sans Regular";
	text-align: left;
	font-size: 3rem;
	color: rgb(64, 64, 64);
}

.runtime {
	position: absolute;
	left: 6rem;
	top: 0.3rem;
	width: 8rem;
	font-family: "Open Sans Regular";
	text-align: left;
	font-size: 1.5rem;
	color: green;
}

.description {
	position: absolute;
	left: 6rem;
	bottom: 1rem;
	font-family: "Open Sans Regular";
	text-align: left;
	font-size: 1.9rem;
	color: rgb(16, 16, 16);
}

.icon {
	position: absolute;
	right: 1rem;
	top: 50%;
	-webkit-transform: translate(0, 50%);
	transform: translate(0, -50%);
	height: 75%;
	border-radius: 50%;
	box-shadow: 0 0 0 9px #c4eabdd6, 0 0 0 13px white, 0 0 0 16px #c4eabdd6;
}
