<div class="buttonsContainer col-12 col-sm-8">
    <div class="buttonWrapper">
        <div class="controlButton"  routerLink="/valves">
            <span class="buttonName">
                WATERING
            </span>
            <img src="assets/watering.png"  class="buttonIcon">
        </div>

    </div>

    <div class="buttonWrapper">
        <div class="controlButton">
            <span class="buttonName">
                SENSORS
            </span>
            <img src="assets/sensors4.png"  class="buttonIcon">
        </div>
    </div>

    <div class="buttonWrapper">
        <div class="controlButton">
            <span class="buttonName">
                INFO
            </span>
            <img src="assets/watering.png"  class="buttonIcon">
        </div>
    </div>
</div>
        